.form-label {
  position: absolute;
  pointer-events: none;
  transition: 0.2s;
  margin-left: 1rem;
}

.form-input {
  &:focus {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    & ~ .form-label {
      transform: translateY(-20px) translateX(-10px);
      scale: 0.7;
      opacity: 0.7;
    }
  }
}

[data-input='true'] {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;

  & ~ [data-label='true'] {
    transform: translateY(-20px) translateX(-10px);
    scale: 0.7;
    opacity: 0.7;
  }
}
