.header {
  z-index: 10;
  transition: 0.4s;

  &.hidden-scroll {
    transform: translateY(-80px);

    &:hover {
      transform: translateY(0);
    }
  }
  
  .search-container {
    width: 320px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25) inset;
  }
}